<div class="page-header">
    <h1>Search</h1>

    <p>Find images using Bing Image Cognitive Search.</p>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-4">
                <input type="text" class="form-control" id="searchInput" #searchInput>
            </div>
            <button type="submit" class="btn btn-default" (click)="search(searchInput.value)">Search</button>
        </div>
    </div>
</div>
<div *ngIf="searchResults">
    <h2><b>Selected Photo</b></h2>
    <div class="currentItem card" *ngIf="currentAnalytics || isAnalyzing">
        <img src="{{currentItem?.thumbnailUrl}}" />
        <div *ngIf="!isAnalyzing">
            <h4><b>{{currentAnalytics?.description.captions[0].text}}</b></h4>
            <div>
                <span class="tag label" [ngClass]="{'label-default': tag.confidence >= .75, 'label-warning': tag.confidence >= .5 && tag.confidence < .75, 'label-danger': tag.confidence < .5}"
                    *ngFor="let tag of currentAnalytics?.tags">{{tag.name}}</span>
            </div>
            <div *ngIf="!currentAnalytics?.faces">
                <span>No faces found span</span>
            </div>
            <div *ngIf="!!currentAnalytics?.faces"></div>
            <ng-container *ngFor="let face of currentAnalytics?.faces; let i=index">
                <div>
                    <span class="faceDescription label">
                        {{i+1}} - {{face?.gender}}, {{face?.age}} years old </span>
                </div>
            </ng-container>
        </div>
        <div *ngIf="isAnalyzing">
            <h4>Analyzing Photo</h4>
        </div>
    </div>
    <h4 class="no-results" *ngIf="!currentAnalytics && !isAnalyzing">Select a photo to analyze it.</h4>
</div>
<br />
<br />
<h2><b>Search Results</b></h2>
<div class="results" *ngIf="searchResults">
    <div *ngFor="let result of searchResults" (click)="analyze(result)" class="card">
        <img src="{{result?.thumbnailUrl}}" />
    </div>
</div>
<h4 class="no-results" *ngIf="!searchResults && !isSearching">
    Search for images to display results here.
</h4>
<h4 class="no-results" *ngIf="isSearching">
    Loading Search Results...
</h4>