.results {
    display: flex;
    flex-wrap: wrap;
}
.no-results {
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.currentItem {
    display: flex;
}
.currentItem div {
    margin: 20px;
}

.tag {
    margin-right: 5px;
    padding: 0px 5px 5px 5px;
    font-size: 14px;
    border-radius: 25px;
    background-color: #bbb;
}

.label-warning {
    background-color: #ffc75e;
}

.label-danger {
    background-color: #922828;
    color: white;
}

.faceDescription {
    margin-right: 5px;
    padding: 0px 5px 5px 5px;
    font-size: 14px;
    color: green;
    background-color: #bbb;
    border-radius: 25px;
}